* {
    box-sizing: border-box;
    margin: 0;
}

body {
  background-color: beige;
}
    
.mat {
    width: 100%;
    height: 100%;
    background: beige;
    margin: 0;
    padding: 0;
  }
  
  .right-tie {
    height: 60px;
    width: 100px;
    position: absolute;
    background-color: #ad1457;
    transform: skew(-15deg) rotate(-45deg) scaleX(-1);
    border: 1px solid rgba(#ad1457, 0.6);
    border-top-left-radius: 100px;
    border-top-right-radius: 300px 250px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 200px 300px;
  }
  
  .left-tie {
    height: 60px;
    width: 100px;
    position: absolute;
    background-color: #ad1457;
    transform: skew(15deg) rotate(45deg) scaleX(1);
    border: 1px solid rgba(#ad1457, 0.6);
    border-top-left-radius: 100px;
    border-top-right-radius: 300px 250px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 200px 300px;
  }

  .shift {
    animation: rotating 0.5s ease-in-out infinite;
  }

  .skew {
    animation: skewing 0.5s ease-in-out infinite;
  }

  .shrik {
    animation: shriking 1.0s ease-in infinite;
  }

@keyframes rotating {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(45deg);
  }
}

@keyframes skewing {
  from {
    transform: scale(0.5) skew(30deg, 10deg);
  }
  to {
    transform: scale(1) skew(-10deg, -30deg);
  }
}

@keyframes shriking {
  from {
    transform: scale(0.1);
    background: yellow;
  }
  to {
    /* transform: rotate(); */
  }
}

